@font-face {
  font-family: "iconfont"; /* Project id 4616456 */
  src: url('iconfont.woff2?t=1720598054347') format('woff2'),
       url('iconfont.woff?t=1720598054347') format('woff'),
       url('iconfont.ttf?t=1720598054347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e604";
}

.icon-dianhua:before {
  content: "\eb23";
}

.icon-shijian:before {
  content: "\eb2a";
}

.icon-exit-full:before {
  content: "\e97f";
}

